@import url('https://fonts.googleapis.com/css?family=Bahiana|Dosis');
//font-family: 'Bahiana', cursive;
//font-family: 'Dosis', sans-serif;

// Header props
header{
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
  width: calc(100% - 30px);
  background: #24292e;
  height: 50px;
  padding: 0 15px;  
  .profile-img{
    width: 80px;
    height: 80px;
    right: 10px;
    top: 10px;
    border-color: #241E1E; 
  }
  a{
    display: block;
    float: left;
    text-decoration: none;
    color: #DBD2D2;
    height: 50px;
    padding: 0 15px;
    line-height: 50px;
    font-weight: bold;
    transition: all 0.5s;
    &:hover{
      background: darken(#24292e, 20%);
    }
  }
}

// Container props
body{
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
}

main{
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#container{
  width: 1000px;
  margin: 0 auto;
}
.waiting-box{
  color: #000;
  position: absolute;
  left: calc(50% - 450px);  top: calc(50% - 100px);
}
.waiting-txt{
  position: absolute;
  left: 8%;  top: 10%;
  font-size: 26pt;
  a{
    font-size: 14pt;
    display: block;
  }
}
.waiting-p{
  display: table;
  width: 900px;
  max-height: 30px;
  height: auto;
  text-align: center;
  //position: absolute;
  font-size: 18pt;
  margin-bottom: 45px;
}
.link-down{
  text-decoration: none;
  color: #71b9d4;
  text-align: center;
  margin-top: 5px;
  display: block;
}

// project colors
$lanacakes: #d4a3a3;
$ortope: #71b9d4;
$beforever: #a888ad;
$rafitthy: #60656b;
$carrano: #60656b;
$feevale: #8fad9b;

// .lanacakes{
//   .container-img{
//     border: 3px solid $lanacakes;
//     box-shadow: 2px 9px 30px $lanacakes;
//   }
//   .description{
//     border-top: 1px solid $lanacakes;
//     border-bottom: 1px solid $lanacakes;
//   }
//   .job-tittle{
//     text-shadow: 5px 5px 7px $lanacakes;
//   }
// }
// .ortope{
//   .container-img{
//     border: 3px solid $ortope;
//     box-shadow: 2px 9px 30px $ortope;
//   }
//   .description{
//     border-top: 1px solid $ortope;
//     border-bottom: 1px solid $ortope;
//   }
//   .job-tittle{
//     text-shadow: 5px 5px 7px $ortope;
//   }
// }
// .beforever{
//   .container-img{
//     border: 3px solid $beforever;
//     box-shadow: 2px 9px 30px $beforever;
//   }
//   .description{
//     border-top: 1px solid $beforever;
//     border-bottom: 1px solid $beforever;
//   }
//   .job-tittle{
//     text-shadow: 5px 5px 7px $beforever;
//   }
// }
// .rafitthy{
//   .container-img{
//     border: 3px solid $rafitthy;
//     box-shadow: 2px 9px 30px $rafitthy;
//   }
//   .description{
//     border-top: 1px solid $rafitthy;
//     border-bottom: 1px solid $rafitthy;
//   }
//   .job-tittle{
//     text-shadow: 5px 5px 7px $rafitthy;
//   }
// }
// .carrano{
//   .container-img{
//     border: 3px solid $carrano;
//     box-shadow: 2px 9px 30px $carrano;
//   }
//   .description{
//     border-top: 1px solid $carrano;
//     border-bottom: 1px solid $carrano;
//   }
//   .job-tittle{
//     text-shadow: 5px 5px 7px $carrano;
//   }
// }
// .feevale{
//   .container-img{
//     border: 3px solid $feevale;
//     box-shadow: 2px 9px 30px $feevale;
//   }
//   .description{
//     border-top: 1px solid $feevale;
//     border-bottom: 1px solid $feevale;
//   }
//   .job-tittle{
//     text-shadow: 5px 5px 7px $feevale;
//   }
// }

#games-container .job-tittle{
  color: #341010;
  background: rgba(255,255,255,0.69);
}

#web-container .job-tittle{
  color: #154356;
  background: rgba(255,255,255,0.69);
}

.owl-nav{
  width: 100%;
  text-align: center;
  display: inline-block;
  div{
    font-size: 55px;
    display: inline-block;
    margin-right: 15px;
    margin-top: 15px;
    color: #808080;
  }
}

.container-carousel{
  position: relative;
}
.container-img{
  padding:  20px;
  height: 450px;
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 3px;
  .scroll-img{
      width: 100%;
      height: 100%;
  }
  img{
    width: 100%;
  }
}

.job-tittle{
  display: block;
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #610909;
  font-family: 'Bahiana', cursive;
  letter-spacing: 3px;
  font-weight: normal;
  background: rgba(255, 255, 255, 0.69);
}

.selected .list-category,
.unselected-selected .list-category{
  opacity: 1;
}
.list-category{
  position: absolute;
  top: 0;  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  opacity: 0;
  transition: opacity 3.5s;
}

.portfolio{
  width: 1000px;
  display: block;
  // padding: 0 15px;
  background: rgba(255, 255, 255, 0.40);
  margin-left: calc(94% - 1000px);
}

#web-container .portfolio{
  margin-left: calc(94% - 1127px)
}

.description{
  width: 800px;
  margin: 35px auto 0;
  font-size: 18px;
  text-align: center;
  padding: 35px 100px;
}

.section-default{
  position: absolute;
  width: 100%;
  height: 200%;
  text-shadow: 5px 5px 7px #e6e6e6;
}

.section-tittle{
  font-family: 'Bahiana', cursive;
  letter-spacing: 8px;
  position: absolute;
  left: 0;  top: 30%;
  font-size: 80pt;
  color: #fff;
  transform: rotate(180deg);
  text-shadow: 5px 5px 7px #505050;
  transition: all 1s;
}

.profile-img{
  position: absolute;
  right: calc(50% - 150px);  top: calc(50% - 150px);
  width: 300px;
  height: 300px;
  background: #e6e6e6;
  border: 5px solid white;
  border-radius: 100%;
  overflow: hidden;
  z-index: 1000;
  &.compact{
      animation-timing-function:ease;
      animation-duration: 1.5s;
      animation-fill-mode:forwards;
  }
}

.overlay{
  width: 100%;
  height: 100%;
  transition: all 0.8s;
  box-shadow: inset 5px 34px 12px -4px #000;
}

//WEB
#web-container{
  @extend .section-default;
  right: -50%;
  transform: rotate(20deg);
  background: url("../img/bg-r-port2.png") no-repeat;
  background-size: cover;
  /*background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);*/
  transition: all 1s;
  top: -40%;
  &.selected{
    animation-timing-function:ease;
    animation-name: WebSide;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    .overlay-container{
      @extend .overlay;
    }
  }
  .list-category{
    transform: rotate(0deg);
  }
  .section-tittle{
    left:  60px;
    transform: rotate(0deg);
  }
  &.unselected{
    animation-timing-function:ease;
    animation-name: unWebSide;
    animation-duration: 2s;
    animation-fill-mode:forwards;
  }
  &.unselected-selected{
    animation-timing-function:ease;
    animation-name: unSelWeb;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    .overlay-container{
      @extend .overlay;
    }
  }
  &.selected-unselected{
    animation-timing-function:ease;
    animation-name: selUnWeb;
    animation-duration: 2s;
    animation-fill-mode:forwards;
  }
  &.selected .section-tittle,
  &.unselected .section-tittle,
  &.unselected-selected .section-tittle,
  &.selected-unselected .section-tittle{
    animation-timing-function:ease;
    animation-name: WebTextSide;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: 1s;
  }
  .owl-prev{
    margin-left: -120px;
  }
}

// GAMES
#games-container{
  @extend .section-default;
  /*box-shadow:inset 25px 41px 47px #54300E;*/
  left: -50%;
  //background: #54300E;
  /*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/  
  background: url("../img/bg-l-port2.png") 100% #730000 no-repeat;
  background-size: cover;
  transform: rotate(-160deg);
  transition: all 1s;
  top: -50%;
  box-shadow: none;
  &::after {
    content: "";
    //background-image: url("../img/folha.jpg");
    //background-size: 100% 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  &.selected{
    animation-timing-function:ease;
    animation-name: GameSide;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    .overlay-container{
      @extend .overlay;
    }
  }
  &.unselected{
    animation-timing-function:ease;
    animation-name: unGameSide;
    animation-duration: 2s;
    animation-fill-mode:forwards;
  }
  &.selected-unselected{
    animation-timing-function:ease;
    animation-name: selUnGame;
    animation-duration: 2s;
    animation-fill-mode:forwards;
  }
  &.unselected-selected{
    animation-timing-function:ease;
    animation-name: unSelGame;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    .overlay-container{
      @extend .overlay;
    }
  }
  &.selected .section-tittle,
  &.unselected .section-tittle,
  &.unselected-selected .section-tittle,
  &.selected-unselected .section-tittle{
    animation-timing-function:ease;
    animation-name: GameTextSide;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    animation-delay: 1s;
  }
  .selected{
    animation-timing-function:ease;
    animation-name: GameSide;
    animation-duration: 2s;
    animation-fill-mode:forwards;
  }
  .section-tittle{
    left: 100px;
  }.owl-prev{
    margin-left: 110px;
  }
}

//Animations for main section
@keyframes unGameSide {
    25%  {transform: rotate(-180deg); top:-50%;}
    50%  {left: -50%; box-shadow: none;}
    100% {left: -90%; transform: rotate(-180deg); box-shadow: none; top:-50%;}
}
@keyframes GameSide {
    25%  { transform: rotate(-180deg); top:-50%;}
    50%  {left: -50%; box-shadow: none;}
    100% {left: -10%; transform: rotate(-180deg); box-shadow: none; top:-50%;}
}
@keyframes unSelGame {
    0%   {left: -90%; transform: rotate(-180deg); box-shadow: none; top:-50%;}
    100% {left: -10%; transform: rotate(-180deg); box-shadow: none; top:-50%;}
}
@keyframes selUnGame {
    0%   {left: -10%; transform: rotate(-180deg); box-shadow: none; top:-50%;}
    100% {left: -90%; transform: rotate(-180deg); box-shadow: none; top:-50%;}
}

@keyframes unWebSide {
    25%  {transform: rotate(0deg); top:-50%;}
    50%  {right: -50%; box-shadow: none;}
    100% {right: -90%; transform: rotate(0deg); box-shadow: none; top:-50%;}
}
@keyframes WebSide {
    25%  {transform: rotate(0deg); top:-50%;}
    50%  {right: -50%; box-shadow: none;}
    100% {right: -10%; transform: rotate(0deg); box-shadow: none; top:-50%;}
}
@keyframes unSelWeb {
    0%   {right: -90%; transform: rotate(0deg); box-shadow: none; top:-50%;}
    100% {right: -10%; transform: rotate(0deg); box-shadow: none; top:-50%;}
}
@keyframes selUnWeb {
    0%   {right: -10%; transform: rotate(0deg); box-shadow: none; top:-50%;}
    100% {right: -90%; transform: rotate(0deg); box-shadow: none; top:-50%;}
}

@keyframes WebTextSide {
    90% {transform: rotate(-90deg); left: 2px; top: calc(50% - 150px;)}
    100% {opacity: 0; transform: rotate(-90deg); left: 2px; top: calc(50% - 150px;)}
}
@keyframes GameTextSide {
    90% {transform: rotate(90deg); left: -35px; top: calc(50% - 130px;)}
    100% {opacity: 0; transform: rotate(90deg); left: -35px; top: calc(50% - 130px;)}
}

//Animations
@keyframes Profile {
    50%{transform: scale(0);}
    60% {transform: scale(0); right: calc(50% - 50px);  top: calc(50% - 50px);}
    65%{right: 35px; top: 10px; transform: scale(0);}
    80%{transform: scale(2); }
    100%{transform: scale(1); width: 50px; height: 50px; right: 35px; top: 10px;}
}
//Animations
@keyframes Profile500 {
    50%{transform: scale(0);}
    60% {transform: scale(0); right: calc(50% - 50px);  top: calc(50% - 50px);}
    65%{right: 35px; top: 10px; transform: scale(0);}
    80%{transform: scale(2); }
    100%{transform: scale(1); width: 30px; height: 30px; right: 10px; top: 5px; box-shadow: 1px 3px 5px #54300E; border: 1px solid #fff;}
}


@media screen and (min-width: 500px){
  .profile-img.compact{
    animation-name: Profile;
  }
}

@media screen and (max-width: 500px){
  .profile-img.compact{
    animation-name: Profile500;
  }
}
// Media
@media screen and (max-width: 1000px){
  .section-default{
    width: 100%;
    height: 50%;
    left: 0;
    transform: rotate(0);
    top: 0;
    box-shadow: none;
  }
  .job-tittle{
    font-size: 21px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 50px;
  }
  .container-img{
    height: 300px;
    width: 80%;
    margin: 10px auto;
  }
  .description{
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
    font-size: 10px;
  }
  #web-container{
    left: 0;
    top: inherit;
    bottom: 0;
    .portfolio{
      margin-left: 0;
    }
  }
  .profile-img{
    width: 100px;
    height: 100px;
    right: calc(50% - 50px);
    top: calc(50% - 50px);
  }
  .section-tittle {
    letter-spacing: 5px;
    font-size: 30pt;
    margin: 0;
    transform: rotate(0deg);
  }
  #games-container .section-tittle,
  #web-container .section-tittle{
    left: 20px;
    top: 20px;
  }
  .portfolio{
    width: 100%;
  }
  #web-container .owl-prev{
    margin-left: 0;
  }
  .owl-nav div{
    height: 45px;
    line-height: 40px;
    margin-top: 0;
  }
}
